################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*/bin
*/obj
*.user
*.suo
/packages
*.psess
*.DS_Store
.vs
/HchWebPhr/Web.Staging.config
/HchWebPhr/Web.Release.config
/HchWebPhr/Web.Debug.config
/HchWebPhr/Web.Staging.config
/HchWebPhr/Web.Release.config
/HchWebPhr/Web.Debug.config
/HchWebPhr/Web.config
/HchWebPhr/Web.Base.config
/HchWebPhr/web.config
