################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*/bin
*/obj
*.user
*.suo
/packages
/Performance1.psess
/Performance.psess
/HchWebPhr_.psess
