@{ 
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section Styles {
    @RenderSection("Styles",false)
}
<div class="container body-content">
    @*<div class="row">*@
        @RenderBody()
    @*</div>*@
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year</p>
    </footer>
</div>

@section Scripts {
    @RenderSection("Scripts",false)    
}