@using HchWebPhr.Models.ViewModels

@model SuccessContext

<h3 class="page-header">成功</h3>
<div class="row">
    <div class="col-xxxs-push-0 col-xxxs-12 col-xs-push-1 col-xs-10">
        <p class="lead"><span class="fa fa-caret-down"></span> 詳細說明：</p>
        <div class="row">
            <div class="col-xxxs-12">
                <div class="alert alert-success" role="alert">
                    <p class="lead"><strong>狀態代碼:</strong> @Model.SuccessCode</p>
                    <p class="lead"><strong>狀態說明:</strong> @Model.SuccessDescription</p>
                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-xxs-12 col-md-4"></div>*@
            <div class="col-xxxs-12 col-xxxs-push-0 col-md-8 col-md-push-2" style="padding: 0px;">
                @*<div class="col-xxs-6">
                        <button id="clear_check" type="button" class="btn btn-default btn-block">取消勾選</button>
                    </div>*@
                <div class="col-xxxs-6 col-xxxs-push-3">
                    @Html.ActionLink("回到首頁", "", "", null, new { @class = "btn btn-primary btn-block" })
                    @*<button id="go_home" type="button" class="btn btn-primary btn-block">回到首頁</button>*@
                </div>
            </div>
        </div>
    </div>
</div>
