.load-modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1999;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    min-height: 100%;
    width: 100%;
}
.loading {
    font-family: Arial;
    font-size: 15pt;
    color: white;
    border: 0px;
    border-radius: 10px;
    -moz-border-radius: 10px;    
    -webkit-border-radius: 10px;
    width: 280px;
    height: 100px;
    display: none;
    position: fixed;
    background-color: Black;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    z-index: 2000;
    *padding-top: 29.5px;
    *height: 59px;
}

#pn-loading h4 {
    display: inline-block;
    margin: 0 auto;
    /*padding-left: 42px;*/
    /*background: transparent url("../img/ajax-loading.gif") no-repeat 0px 3px;*/
    height: 36px;
    line-height: 36px;
    *display: inline;
    *padding-top: 10px;
    *padding-bottom: 10px;
}
