@using HchWebPhr.Models.ViewModels

@model ForgetPasswordMailContext

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">*@

    @* jQuery 2.x MaxCDN *@
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container body-content">

        <h3 class="page-header">親愛的使用者 @Model.UserName 您好:</h3>

        <div class="row">
            <div class="col-xxxs-push-0 col-xxxs-12 col-xs-push-1 col-xs-10">
                <p class="lead"> 您最近使用了忘記密碼的功能，如果您確定要重新設定密碼，請按下下方重設密碼的按鈕。</p>
                <p class="lead"> 如果您並未使用此功能，請不必理會本封電子郵件。如果您連續收到類似的電子郵件，請聯絡宏其婦幼醫院資訊部門，謝謝！</p>
                <div class="row">
                    @*<div class="col-xxs-12 col-md-4"></div>*@
                    <div class="col-xxxs-12 col-xxxs-push-0 col-md-8 col-md-push-2" style="padding: 0px;">
                        @*<div class="col-xxs-6">
                                <button id="clear_check" type="button" class="btn btn-default btn-block">取消勾選</button>
                            </div>*@
                        <div class="col-xxxs-6 col-xxxs-push-3">
                            @{
                                var resetPasswordUrl = "";
                                if (ViewBag.IsDebug)
                                {
                                    resetPasswordUrl = "http://localhost:60919/Account/ResetPassword?Token=" + Model.ForgetPasswordToken;
                                }
                                else
                                {
                                    resetPasswordUrl = "http://web.hch.org.tw/Account/ResetPassword?Token=" + Model.ForgetPasswordToken;
                                }
                            }
                            <a class="btn btn-primary btn-block" href="@resetPasswordUrl">重設我的密碼</a>
                            @*<button id="go_home" type="button" class="btn btn-primary btn-block">回到首頁</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 宏其婦幼醫院個人化電子病歷</p>
        </footer>
    </div>
</body>
</html>
